[submodule "vendor/stm32g4xx-hal-driver"]
	path = vendor/stm32g4xx-hal-driver
	url = git@github.com:STMicroelectronics/stm32g4xx-hal-driver.git
[submodule "vendor/cmsis-device-g4"]
	path = vendor/cmsis-device-g4
	url = git@github.com:STMicroelectronics/cmsis-device-g4.git
